.roundedImage {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

.chip {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #e5ddfb;
  color: $primary-color;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.rightSideTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: grey;
  text-align: center;
}

.rightSideDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.intro {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.leftSideBusiness {
  text-align: center;
}

.buttonIcon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.longButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.gallery {
  width: 100%;
  max-width: 20rem;
  border-radius: 2rem;
}

.icon {
  display: flex;
  align-items: center;
  img {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 768px) {
  .intro {
    margin: 1rem 7rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .rightSideTop {
    width: 50%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem;
  }

  .rightSideDescription {
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem;
  }

  .about {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem;
  }

  .leftSide {
    width: 50%;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
  }

  .leftSideBusiness {
    text-align: left;
  }

  h1,
  p {
    text-align: left;
  }
}
