.card {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  .cardContent {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  
  .image {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
  }
  
  .infoContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .chip {
    background-color: #eee;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 8px;
  }
  
  .name {
    font-size: 18px;
    margin: 0;
  }
  
  .contactPerson, .address {
    font-size: 14px;
    margin: 4px 0;
  }
  
  button {
    align-self: start;
    margin-top: 8px;
  }
  